<html>
    <head>
        <title>Pizzaria Pé de Pizza</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" >
    </head>

    <body>
        <header>
            <h1>Pé de Pizza</h1>

            <div class="botoes">
                <%= link_to "Login", {controller: "sessions", action: "new"}, class: "botao-login" %>
                <%= link_to "Cadastro", {controller: "users", action: "new"}, class: "botao-cadastro" %>
            </div>

            <div class="carrinho"><img class="carrinho" src="carrinho.svg"></div>
        </header>

        <section class="section-promocoes">
            <h2 class="titulo-promocoes">Promoção</h2>

            <div class="imagens-promocoes">
                <div class="imagem imagem1" id="imagem1">
                    <a class="seta-esquerda" href="#imagem3"></a>
                    <img src="pizza1.jpg">
                    <a class="seta-direita" href="#imagem2"></a>
                </div>
                <div class="imagem imagem2" id="imagem2">
                    <a class="seta-esquerda" href="#imagem1"></a>
                    <img src="pizza2.jpg">
                    <a class="seta-direita" href="#imagem3"></a>
                </div>
                <div class="imagem imagem3" id="imagem3">
                    <a class="seta-esquerda" href="#imagem2"></a>
                    <img src="pizza3.jpg">
                    <a class="seta-direita" href="#imagem3"></a>
                </div>
            </div>
            
            <div class="div-botao-comprar-promocoes"><a class="botao-comprar-promocoes">Comprar</a></div>
            <p class="nome-pizza-promocoes">Nome da Pizza</p>
            <p class="preco-pizza-promocoes">R$ 0,00</p>
            <p class="descricao-pizza-promocoes">Descrição da Pizza</p>
        </section>

        <section class="section-cardapio">
            <h2 class="titulo-cardapio">Cardápio</h2>
            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>
            
            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>

            <p class="nome-pizza-cardapio">Pizza de Mussarela</p>
            <p class="preco-pizza-cardapio">R$ 25,00</p>
        </section>

        <section class="section-quem-somos">
            <h2 class="titulo-quem-somos">Quem Somos</h2>
            <p class="texto-quem-somos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nam ornare, lacus pharetra vulputate tempor, mauris 
mauris semper quam, nec mollis turpis odio nec v
elit. Praesent vitae maximus magna, non blandit elit. 
Nulla facilisi. Phasellus at justo rutrum, faucibus nulla sit.</p>
        </section>

        <footer>
            <div class="div-rede-social-footer">
                <img class="imagem-facebook-footer" src="facebook.svg">
                <img class="imagem-instagram-footer" src="instagram.svg">
            </div>
            <div class="div-contato-footer">
                <p class="texto-footer">Contato</p>
                <div class="div-whatsapp-footer">
                    <img class="imagem-whatsapp-footer" src="whatsapp.svg">
                    <p class="numero-whatsapp-footer">(99)99999-9999</p>
                </div>
                <p class="texto-footer">Telefone</p>
                <p class="numero-telefone-footer">(99)99999-9999</p>
            </div>
        </footer>
    </body>
</html>