<%= form_for current_user do |f| %>
            
            <div class="field">
                <%= f.label :name %>
                <% if current_user.admin? %>
                    <%= f.text_field :name, :value => @user.name %>
                <% else %>
                    <%= f.text_field :name, :value => current_user.name %>
                <% end %>
            </div>
            <div class="field">
                <%= f.label :email %>
                <% if current_user.admin? %>
                    <%= f.email_field :email, :value => @user.email %>
                <% else %>
                    <%= f.email_field :email, :value => current_user.email %>
                <% end %>
            </div>
            <div class="field">
                <%= f.label :password %> 
                <%= f.password_field :password %>
            </div>
            <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>
            <div class="field">
                <%= f.label :address %>
                <% if current_user.admin? %>
                    <%= f.text_field :address, :value => @user.address %>
                <% else %>
                    <%= f.text_field :address, :value => current_user.address %>
                <% end %>
            </div>
            <div class="field">
                <%= f.label :phone %>
                <% if current_user.admin? %>
                    <%= f.text_field :phone, :value => @user.phone %>
                <% else %>
                    <%= f.text_field :phone, :value => current_user.phone %>
                <% end %>
            </div>
            <div class="field">
                <%= f.label :payment_method %>
                <br>
                <%= f.radio_button :payment_method, "Dinheiro", :checked => true %> Dinheiro
            </div>
            
            <%= f.hidden_field :admin, :value => false %>

            <div class="actions">
                <%= f.submit "Alterar"%>
            </div>
<% end %>
