<h1>Usuários</h1>

<% if !current_user.admin? %>
    <p>Você não tem permissões suficientes.</p>
<% end %>


<% if current_user.admin? %>
    <% @users.each do |user| %>
        <div>
            <ul>
                <li> <%= user.name %> </li>
                <li> <%= link_to 'Ir para o perfil', user_path(user.id) %> </li>
            </ul>
        </div>
        <br>
    <% end %>
<% end %>