

<%= form_for @user do |f| %>
            <% if @user.errors.any? %>
            <div id="error_explanation">
                        <div class="alert-error">
                                   O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
                        </div>
                        <ul>
                                   <% @user.errors.full_messages.each do |msg| %>
                                   <li><%= msg %></li>
                                   <% end %>
                        </ul>
            </div>
<% end %>
            <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>
            <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email %>
            </div>
            <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>
            <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>
            <div class="field">
                <%= f.label :address %>
                <%= f.text_field :address %>
            </div>
            <div class="field">
                <%= f.label :phone %>
                <%= f.text_field :phone %>
            </div>
            <div class="field">
                <%= f.label :payment_method %>
                <br>
                <%= f.radio_button :payment_method, "Dinheiro", :checked => true %> Dinheiro
            </div>

            <%= f.hidden_field :admin, :value => false %>

            <div class="actions">
                <%= f.submit "Cadastrar"%>
            </div>
<% end %>
