<%= "Nome: " + @user.name %>
<br>
<%= "Email: " + @user.email %>
<br>
<%= "Endereço: " + @user.address %>
<br>
<%= "Telefone: " + @user.phone %>
<br>
<%= "Método de Pagamento: " + @user.payment_method %>
<br>
<% if @user==current_user or current_user.admin? %>
    <%= link_to "Editar Perfil", edit_user_path %>
<% end %>

<% if current_user.admin? %>
    <br>
    <%= link_to "Ver Usuários", users_path %>
<% end %>