// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/

header {
    width: auto;
    height: 80px;
    background-color: #333;
}

header h1 {
    color: #FAFAFA;
    font-size: 4em;
    margin-left: 5%;
    position: relative;
    top: 43%;
    font-family: "Comfortaa"
}

.botoes {
    display: inline-block;
    position: relative;
    left: 50%;
    top: -20px;
    font-size: 1.4em;
}

.botao-login {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    color: #FAFAFA;
    text-decoration: none;
    background-color: #DADADA;
}

.botao-cadastro {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    color: #FAFAFA;
    text-decoration: none;
    background-color: #DADADA;
}

.botao-login:hover {
    background-color: #FAFAFA;
    color: black;
}

.botao-cadastro:hover {
    background-color: #FAFAFA;
    color: black;
}

div.carrinho {
    width: 70px;
    height: 70px;
    background-color: #FAFAFA;
    border-radius: 50%;
    margin-top: -67px;
    margin-left: 90%;
    cursor: pointer;
}

img.carrinho {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 9px;
    left: 10px;
}

/*Primeira Section*/
/*Primeira Section*/
/*Primeira Section*/
/*Primeira Section*/
/*Primeira Section*/

.section-promocoes {

}

.titulo-promocoes {
    text-align: center;
    font-size: 3.4em;
    font-family: "Comfortaa"
}

.imagens-promocoes {
    width: 80%;
    height: 500px;
    margin: 0 auto 0 auto;
}

.imagem {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.imagem img {
    max-width: 100%;
}

.imagem:target {
    display: block;
}

.div-botao-comprar-promocoes {
    width: 190px;
    height: 50px;
    text-align: center;
    background-color: #ECE535;
    margin: 0px auto 0 auto;
    transform: translate(0%, -50%);
}

.botao-comprar-promocoes {
    text-decoration: none;
    position: relative;
    top: 17px;
    font-size: 3em;
    font-family: "Montserrat"
}

.nome-pizza-promocoes {
    font-size: 3em;
    margin-left: 10%;
}

.preco-pizza-promocoes {
    font-size: 3em;
    margin-top: -53px;
    margin-left: 79%;
}

.descricao-pizza-promocoes {
    font-size: 1.5em;
    margin-top: -25px;
    margin-left: 10%;
}

/*Section Cardapio*/
/*Section Cardapio*/
/*Section Cardapio*/
/*Section Cardapio*/
/*Section Cardapio*/

.section-cardapio {
    background-color: #EAEAEA;
    margin-top: 30px;
    padding: 10px;
}

.titulo-cardapio {
    text-align: center;
    font-size: 3.4em;
    font-family: "Comfortaa"
}

.nome-pizza-cardapio {
    font-size: 2em;
    display: inline-block;
    margin-left: 10%;
}

.preco-pizza-cardapio {
    font-size: 2em;
    display: inline-block;
    margin-left: 51%;
}

/*Section Quem Somos*/
/*Section Quem Somos*/
/*Section Quem Somos*/
/*Section Quem Somos*/
/*Section Quem Somos*/

.section-quem-somos {

}

.titulo-quem-somos {
    font-family: "Comfortaa";
    font-size: 3.5em;
    text-align: center;
}

.texto-quem-somos {
    font-family: "Montserrat";
    font-size: 2em;
    line-height: 30px;
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}

/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/
/*Footer*/

footer {
    background-color: #D8D8D8;
    display: inline-block;
    width: 100%;
}

.div-rede-social-footer {
    float: left;
}

.imagem-facebook-footer {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    margin: 100px 0 0 30px;
    cursor: pointer;
}

.imagem-instagram-footer {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    margin: 100px 0 0 15px;
    cursor: pointer;
}

.div-contato-footer {
    float: right;
    width: 20%;
}

.div-whatsapp-footer {
    display: inline-block;
}

.imagem-whatsapp-footer {
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 42px;
    left: -22px;
}

.texto-footer {
    font-size: 2em;
}

.numero-telefone-footer {
    font-size: 1.5em;
}

.numero-whatsapp-footer {
    font-size: 1.5em;
}