<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promotion.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
