<!DOCTYPE html>
<html>
  <head>
    <title>Pizzaria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logado? %>
      <%= link_to "Logout", sign_out_path, method: :delete %>
      <%= link_to "Voltar para o Perfil", user_path(current_user) %>
      <br>
    <% end %>
    <%= link_to "Ir para Página Inicial", sessions_index_path %>
    <br>
    <%= yield %>
  </body>
</html>
